<div>

  <div class="navbar">
      <div class="navbar-container">
          <div class="logo">Paws Partner</div>
      </div>
      <div class="nav-links">
          <a routerLink="/Accessories">Accessories</a>
          <a (click)="navigateTobuydog()">Buy Dog</a>
          <a (click)="navigateToAdddog()">Add Dog</a>
          <a routerLink="/bites">Barky Bites</a>
          <button (click)="logout()">Logout</button>
      </div>

  </div>
  <div class="image" >
  </div>

  <!-- <main>
      <a href="back.html"></a>
  </main> -->
  <!-- <img src="/dogClient/src/assets/image.jpeg"> -->

  </div>


